@charset "UTF-8";
/**
 * 
 * @authors Trym Lund Flogard (trym2001@hotmail.com)
 * @date    10/12/18 20:52:59
 */
 #timers {
 	border-collapse: collapse;
 }
.timer {
	border: 1px solid #dee2e6;
	padding: .75rem;
    vertical-align: top;
}
.timer span i {
	color: skyblue;
}